$def with (content)
$var cssfiles: /static/layoutcss.css /static/aboutcss.css
$var title: AboutMe



<div id = "MainTextContainer">

	<h3>
	<p>
	<div style = "border: dotted black 4px; padding: 5px;">	
Currently working on: Deploying Javascript on RoR, advanced Python, and
studying more of those algorithm doohickies...
	</div>
	</p>
	</h3>

<img id = "aboutimage" src= "/static/TK_Profile.jpg" name = "Profile Pic"/>
<br/>
<br/>
<p>	
	To whom it may concern: <br/>
<br/>
My name is Tai Kersten and I am interested in doing IT work for you and
your firm.  I am a junior level full stack coder with intermediate
experience in Python as well as a fair bit of knowledge in C.  
I also know how to use HTML, CSS, Ruby on Rails and can write SQL strings in 
terminal if you have specialized databasing work that can't be handled
by an already deployed library, and you want to wrangle with combatibility
issues for the duration of production.
</p>
<p>
    I can work with all these tools in a Posix or Windows environment, 
and I suspect I could also figure out how to work in Mac OS if I could 
just sit down with Kidpix for a few minutes.   However, my most valuable 
technology skills are my ability to solve problems and conjuring the 
tenacity to see any task through.  As a side note, I equally enjoy both 
working with others and sitting in a tiny room by myself tapping on a 
keyboard.
</p>
<p>
    If you are looking to make something pretty and/or functional,
I have considerable experience in Adobe Photoshop, Gimp, Inkblot and 
Adobe Illustrator placing pictures of my friend's heads on various 
wildlife as well as designing a myriad of posters, websites, apps, and 
other graphics heavy projects.  On this site is a portfolio which, 
if interested, is more useful than reading this since, as the saying 
goes... a.bmp is words*1000 >> True.  
</p>
<p>
Oh, also I am an English Major and have no formal training in any of 
this, but I do know how to apply a binary sort or hand code a tree tree 
traversal; I can kind of navigate my way around an A*,  and my favorite 
algorithm is bogo sort so I can wreck pretty much any system I want on 
accident.  Note that the documentation for all this would be very well 
written.
</p>
<p>
Sincerely,
Tai Kersten	
</p>	
	$:content
	</p>

<br/>
<br/>


<h2>WORK EXPERIENCE<br/></h2>
<br/>
<strong>Advanced Language Teaching, Seodaemun, Seoul</strong> — English Teacher<br/>
APRIL 2014 - SEPTEMBER 2015<br/>
Taught classroom English skills to Korean students in Seoul
<br/>
<br/>
<strong>Crisp Creperie, Seattle, WA</strong> — Co-Founder, Remote Operations Consultant
<br/>
OCTOBER 2012 - MARCH 2015
<br/>
Helped found and assisted in operations with two other co-founders from abroad
<br/>
<br/>
<strong>Seoul Metropolitan Office of Education, Seoul, Korea</strong> — English Teacher
<br/>
FEBRUARY 2012 - MARCH 2014
<br/>
Organized lessons and other administrative tasks to assist teaching in the classroom
<br/>
<br/>
<h2>PROFESSIONAL PROJECTS<br/></h2>
<br/>
<strong>Korean Alex</strong> — Web Designer and Social Media Manager
Built a website and organized social media presence for media personality, Korean Alex
<br/>
<br/>
<strong>Nice to Meet You</strong> — Community Manager
Organized events and online announcements for social start up, Nice to Meet You-- closed down in 2014
<br/>
<br/>
<h2>EDUCATION<br/></h2>
<br/>
<strong>Montana State University</strong>, Bozeman, MT — B.A. English Literature
<br/>
AUGUST 2005 - JUNE 2010
<br/>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.




</div>
