$def with (content)
$var cssfiles: /static/layoutcss.css /static/designcss.css
$var title: Design/Illustration

<!--<h1>$:content</h1>-->
<div id = "MainTextContainer">

	<h3>
	<p>
	<div style = "border: dotted black 4px; padding: 5px;">	
		This is the spot with illustrations and Designs I've done.  Made
		with Gimp, Photoshop, Inkblot, and Illustrator.  Also have some
		experience with Painter products.
	</div>
	</p>
	</h3>

	<div class = "imagecontainer">
	<div class = "gallerya"><img src = "//i.imgur.com/CP34CX4.jpg" > </img></div>
	<div class = "gallerya"><img src = "http://i.imgur.com/DGqVmXn.jpg" > </img></div>
	<div class = "gallerya"><img src = "http://i.imgur.com/qg9zIN9.jpg" > </img></div>
	</div>
</div>
