$def with (content)
$var cssfiles: /static/layoutcss.css /static/indexcss.css
$var title: TkCoding

<div id = "MainTextContainer">
<p>
<h3>
<center>
<div style = "border: dotted black 4px; padding: 5px;">	
This is a small collection of my personal coding samples.  I confirm
that all the projects posted here are mine and mine alone.  Any 
algorithms, code samples, and design patterns are attributed either
in file, on github, or on this site.<br/>
</div>
<br/>
</center>
		
</h3>
</p>


$:content

Additional samples can be found on this <a href = "http://www.github.com/kerstentw">github account</a>. 
</div>
